h1 Gnet27 games

h2: a.effect-5(href="http://gnet27.github.io/2048"): span 2048
h2: a.effect-5(href="http://gnet27.github.io/2048.hack"): span 2048 Hack
h2: a.effect-5(href="http://gnet27.github.io/doodlejump"): span Doodle jump
h2: a.effect-5(href="http://gnet27.github.io/gravity.points"): span Gravity Points
h2: a.effect-5(href="http://gnet27.github.io/hangman"): span Hangman
h2: a.effect-5(href="http://gnet27.github.io/trex"): span Trex game
